[user]
	email = 61167794+pijodev@users.noreply.github.com
	name = pijodev
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
